p {
    color: rgb(255, 255, 255);
}

body {
    background-color: rgb(48, 39, 39);
}

h1 {
    font-size: 2em;
}

body {
    padding: 20px;
    margin: 10px;

}
body {
    color: white;
}
table {
    margin: 20px;
}

form {
    padding: 15px;
    margin: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #c93535;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #eb0707;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="email"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #00ff0d;
}
.transition-button {
     background-color: rgb(247, 0, 238);
     padding: 10px 20px;
     border: none;
     cursor: pointer;
     transition: background-color 0.3s ease;
   }
   
   .transition-button:hover {
     background-color: rgb(248, 1, 1);
   }
   .animation-box {
     width: 50px;
     height: 50px;
     background-color: rgb(247, 0, 160);
     position: relative;
     animation: move 2s infinite alternate;
   }
   
   @keyframes move {
     from {
       left: 0;
     }
     to {
       left: 100px;
     }
   }
   .pseudo-list li:nth-child(odd) {
     background-color: rgb(158, 156, 156);
   }
   
   .pseudo-list li:nth-child(even) {
     background-color: white;
   }
   .filter-image {
     filter: grayscale(100%);
     transition: filter 0.3s ease;
   }
   
   .filter-image:hover {
     filter: grayscale(0%);
   }
   .quote {
     position: relative;
     padding-left: 20px;
     font-style: italic;
   }
   
   .quote::before {
     content: '"';
     font-size: 40px;
     position: absolute;
     left: 0;
     top: 0;
     color: rgb(5, 247, 247);
   }